<div class="card-container p-10 mb-10 text-center">
  <p class="title-main"><b>J a l a l</b> M a s h h a d i F a r d</p>
</div>

<div class="card-container text-about">
  <p>
    Jalal Mashhadi Fard was born in Mashhad in 1993. He graduated in
    architecture, interior design, and urban design from the Art University of
    Tehran, where he is currently attending his Ph.D.
  </p>

  <p>
    The artist represents his Iranian identity and connects with the historical
    concepts of his country. Jalal pushes the limitations to show how he
    pictures persons and their vibes in his mind without any rules. Jalal
    Mashhadi Fard uses patterns, forms, and figures as a scenario that he can
    imagine and enjoy.
  </p>

  <p>
    His collage artworks are formed in praise of emancipation. With a familiar
    expression, Jalal tries to invite the audience to break free from the world
    of reality and law constraints. His work is usually a critique of
    limitations. It is based on the paradox of elements that, while
    contradicting each other, achieve peace through his work, thus making the
    impossible possible with familiar expression.
  </p>

  <p>
    Jalal believes that all art mediums are interconnected in his artworks to
    show a more effective presentation of his pleasure. Therefore, he expresses
    himself to the audience by using different mediums in his artworks in which
    the viewer is exposed to many signs of architecture, painting, virtual art,
    etc., in his projects.
  </p>

  <div class="links">
    <h3 class="link-about">
      WhatsApp: <a href="https://wa.me/9899158200168">+9899158200168</a>
    </h3>

    <h3 class="link-about">
      Instagram: <a href="https://www.instagram.com/JalalMfard/">JalalMfard</a>
    </h3>
  </div>
</div>
