<div class="card-container p-10 mb-10 text-center">
  <p class="title-main"><b>J a l a l</b> M a s h h a d i F a r d</p>
</div>

<div class="card-container text-about">
  <p>
    JaJalal Mashhadi Fard is an architect, fashion designer, and visual artist whose multidisciplinary work flows across the boundaries of contemporary art. He believes in the unity of mediums, where architecture, fashion, and visual language merge to express meaning and inner experience. His creative practice, shaped through cross-cultural collaborations, explores how space, light, and form can embody memory, intimacy, and emotion. For him, art reveals what the world often leaves unseen—quiet layers of being.
  </p>


  <div class="links">
    <h3 class="link-about">
      WhatsApp: <a href="https://wa.me/971542158611">+971542158611</a>
    </h3>

    <h3 class="link-about">
      Instagram: <a href="https://www.instagram.com/JalalMfard/">JalalMfard</a>
    </h3>
  </div>
</div>
