.card-container {
    margin: auto;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    margin: 10px;
}

.main>div {
    flex: 1;
}

.title {
    font-weight: bold;
    margin: 10px;
}

.location{
    font-size: medium;
    margin: 10px;

}

.image {
    max-width: 100%;
    height: auto;
}

.link {
    text-align: right;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

#frame {
    margin: 20px;
    position: relative;
    padding: 0;
    margin: 0;
    border: solid 15px #555;
    box-shadow: -3px -3px 12px #999;

}

#border {
    position: relative;
    padding: 0;
    margin: 0;
    box-shadow: -3px -3px 12px #999;
}

img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;

}


/* CSS */
.button-more {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    margin-top: 10px;
  }
  
  .button-more:active,
  .button-more:hover {
    outline: 0;
  }
  
  .button-more:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .button-more {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }