 
<div class="card-container p-10">

    <h1>exhibitions</h1>

</div>
<div class="card-container"*ngFor="let slide of slides" >
    <div class="main">
        <div>
            <div class="title">
                {{slide.title}}
            </div>
            <div class="location">
                {{slide.location}}  
            </div>
        </div>

        <div>

            <div>
                <div class="image">
                    <div id="frame">
                      
                            <div id="border" *ngIf="!slide.isvideo">
                      
                                <img class="image" [src]="slide.src">
                            </div>

                            <div id="border" *ngIf="slide.isvideo">
                        
                             

                                <video class="image" controls>
                                    <source [src]="slide.src" type="video/mp4">
                                   Your browser does not support the video tag.
                                  </video>
                            </div>


                      
                    </div>
                </div>
                <div class="link">
                    <button class="button-more" [routerLink]="['/exhibitions/'+slide.id]" role="button">more ...</button>
    
                </div>
            </div>
   
 
        </div>
    </div>
    
</div>
