<div class="content" role="main">
  <nav class="foxnav mt-3 text-center">
    <ul class="foxnav-items">
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/']">Home</a>
      </li>

      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/architecture']">
          <span>Architecture & Interior design</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/artworks']">
          <span>Artworks</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/exhibitions']">
          <span>Exhibitions</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/furnituredesign']">
          <span>Furniture design</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/artreviews']">
          <span>Art reviews</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/poster']">
          <span>Poster</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/logo']">
          <span>Logo</span>
        </a>
      </li>
      <li class="foxnav-item">
        <a class="item-link" [routerLink]="['/about']">
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <span> © 2023 JalalMFard LLC.</span>
    <a href="https://www.instagram.com/JalalMfard/">
      <img class="instagram" src="/assets/images/instagram.svg" alt="instagram"/>
    </a>
  </footer>
  <div>
    <img src="/assets/images/jalal-arteza.png" class="sign" alt="JalalMFard" />
  </div>
</div>
