<div class="content" role="main">
  <header class="header">
    <a href="" class="logo">JalalMFard</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li>
        <a  [routerLink]="['/architecture']">
          <span>Architecture & Interior design</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/artworks']">
          <span>Artworks</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/exhibitions']">
          <span>Exhibitions</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/furnituredesign']">
          <span>Furniture design</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/artreviews']">
          <span>Art reviews</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/poster']">
          <span>Poster</span>
        </a>
      </li>
      <li>
        <a  [routerLink]="['/logo']">
          <span>Logo</span>
        </a>
      </li>
    </ul>
  </header>

  <router-outlet></router-outlet>



  <!-- Footer -->
  <footer>
    © 2023 JalalMFard LLC.
  </footer>
</div>