.responsive {
    width: 960px;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    
  }

  .slider-container {
    width: 800px;
    overflow: hidden;
}

  .margin-auto{
    margin: 0 auto;
  }

  .mt-50{
    margin-top: 50px;
  }
